
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: #fff;
  color: #000;

  margin-right: auto;
  margin-left: auto;

  overscroll-behavior: none;
}

#info{
	top: 0px;
	width: 100%;
	padding: 50px;
	box-sizing: border-box;

	/*-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
  
	pointer-events: none;*/
	z-index: 1; /* TODO Solve this in HTML */

  text-align: center;
}


#info h1, a{
  color: #fff;
 /* margin-left: 95px;*/
  word-spacing: 7px;
  letter-spacing: 1.2px;
  box-shadow: 15px 0 0 0 #b00020, -5px 0 0 0 #b00020;
  background-color: #b00020;
  display: inline;
  border-radius: 10px;
 font-family: 'Noto Sans KR', sans-serif;  ;

}

#info p{
  display: grid;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

#histo{
	padding: 50px;

  text-align: center;
}
#histo h1{
 color: #000;
 /* margin-left: 95px;*/
  word-spacing: 7px;
  letter-spacing: 1.2px;
  display: inline;
  border-radius: 10px;
 font-family: 'Noto Sans KR', sans-serif;  ;
}
/*#histo a{
  color: #000;
  background-color: #fff;
  box-shadow: 15px 0 0 0 #fff;
}
*/

.dox {
  margin-left: 95px;
}
#apps img{
  max-width: 300px;
}
 #app{
   max-width: 1200px;
   margin: 0 auto;
   padding: 60px 30px;
   margin-left: 50px;
   flex-direction: row;
/*
   display: flex;
    flex-direction: row;
   align-items: flex-start; */

   margin-left: 50%;
   width: 90%;
   margin-right: auto;
   margin-left: auto;
 }


#apps{
  flex: 1;
  flex-direction: row;
  color: #fff;

}

#inf{
  max-width: 500px;
  margin: 0 auto;
  padding: 10px 30px;
  margin-left: 50px;
  flex-direction: row;
/*
  display: flex;
   flex-direction: row;
  align-items: flex-start; */

  margin-left: 50%;
  width: 90%;
}
@media(max-width:650px){
  #inf{
    margin-right: auto;
   margin-left: auto;
  }
}

div ul{
  display: grid;
  padding: 10px;
  grid-template-columns:  1fr 1fr 1fr 1fr;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  gap: 20px;
  list-style: none;
}
@media(max-width:650px){
  div ul{
    grid-template-columns:  1fr;
  }
}

li.pacientes{
  background-color: #01579b;
  box-shadow: 0 2.5px 5px rgba(253, 253, 253, 0.822), 0 6px 6px rgba(246, 246, 246, 0.692);
  /* box-shadow: sandybrown; */
  border-radius: 8px;
  padding: 10px;
}

li.pacientes .blood{
  display: block;
/*   flex-direction: row;
 */  text-align: justify;
  font-size: 20px;
  padding: 20px;

}


li.pacientes span{
display: block;
text-align: justify;
font-size: 15px;
line-height: 20px;
padding: 15px;
}

button{   
  display: grid;
  background-color:#fff;
  margin-right: auto;
  margin-left: 15px;
  border:none; 
  color: #000;

  margin-top: 16px;
  padding: 10px 18px ;
  border-radius: 7px;

}




